*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 14px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header img {
    width: 100px;
}
.header nav ul{
    display: flex;
}
.header nav ul li{
    padding: 10px;
    margin: 1px;
}
.header nav ul li a:hover{
    color: rgb(2, 2, 2);
}
main img{
    width: 150px;
}
.main-des{
    display: flex;
    width: 100%;
  
}


